.textos h1 {
    margin-top: 150px;
    box-sizing: border-box;
    color: #64ffdb;
    ;
    display: block;
    font-weight: 400;
    font-family: "NTR", sans-serif;
    font-size: 46px;
    height: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    / letter-spacing: .5em;
}

body {
    background: rgb(10, 25, 47);
    padding-top: 1em;
    display: block;
}

.cuadro1 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: url("360x360.png");
    background-position: left top;
    cursor: pointer;
}

.cuadro2 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: url("360x360.png");
    background-position: center top;
    cursor: pointer;
}

.cuadro3 {
    width: 120px;
    height: 120px;
    border: 2px white;
    background: url("360x360.png");
    background-position: right top;
    cursor: pointer;
}

.cuadro4 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: url("360x360.png");
    background-position: left center;
    cursor: pointer;
}

.cuadro5 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: url("360x360.png");
    background-position: center center;
    cursor: pointer;
}

.cuadro6 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: url("360x360.png");
    background-position: right center;
    cursor: pointer;
}

.cuadro7 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: url("360x360.png");
    background-position: left bottom;
    cursor: pointer;
}

.cuadro8 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: url("360x360.png");
    background-position: center bottom;
    cursor: pointer;
}

.cuadro9 {
    width: 120px;
    height: 120px;
    border: 2px snow;
    background: black;
    background-position: right bottom;
    cursor: pointer;
}